*.o
*.cmd
*.tmp
*.ko
*.symvers
*.mod
*.mod.c
modules.order
*.itb
build/

*.img.*

linux/usr/out

so3/so3/scripts/basic/fixdep
so3/so3/scripts/kconfig/conf
so3/so3/scripts/kconfig/lex.zconf.c
so3/so3/scripts/kconfig/zconf.hash.c
so3/so3/scripts/kconfig/zconf.tab.c

qemu/build/
qemu/GNUmakefile
qemu/docs/sphinx/__pycache__/
qemu/scripts/qapi/__pycache__/
qemu/tests/qemu-iotests/__pycache__/
qemu/scripts/tracetool/__pycache__/
qemu/scripts/tracetool/backend/__pycache__/
qemu/scripts/tracetool/format/__pycache__/
